<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
      background-image: url("http://i.huffpost.com/gen/1976688/images/o-BOOK-COFFEE-facebook.jpg");
    }
  </style>



<body>
  <br>
  <h1><center>Book Recommender</center> </h1>
  <h2><marquee>Just for you!</marquee></h2>

<p><center><a href="/start">I'm ready.</a></center></p>

<!-- <form method="POST" action="/add">
<p>Books recommended for you: <input type="text" name="name"> <input type="submit" value="GO!"></p>
</form> -->

</body>


</html>
