<html>
  <style>
  body {
  	font-size: 15pt;
    font-family: arial;
  	background-image: url("http://i.huffpost.com/gen/1976688/images/o-BOOK-COFFEE-facebook.jpg");
  	background-position:0 0; }
  </style>
<body>
<h2>Please rate following books for reference:</h2>
   <p>1. Hand in Glove<br>
   2. Celebremos Su Gloria<br>
   3. One, Two, Guess Who?<br>
   4. Mog's Kittens<br>
   5. Who on Earth is Tom Baker?<br>
   6. Chess for Children<br>
   7. Misty of Chincoteague<br>
   8. Suddenly One Was Taken!<br>
   9. Chess for Young Beginners<br>
   10. The Little Engine That Could: Pop-up Book</p>

<h2><p>Notice: </p></h2>
   *Split your ratings by commas.<br>
   *If you havn't read that book please enter 0.<br>
   *Scale of rating is 0-5.<br>
   *It may take about 2 minuets to get your recommendation.</p>
   <form action = "/rate" method = "POST">
   <input type="text" name="ratings">
   <input type = "submit" value = "Start!!!"></form>
</body>
</html>